.container-fluid{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    margin: 3rem 0 2rem 0;
}

#company{
    border: 1px solid black;
    width: 30vw;
    height: 56vh;
    border-radius: 50px;
}

.about-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5px;
    background-color: #1f1e1e;
    margin-top: 0px;
}

.image{
    margin-top: 10%;
    margin-bottom: 5%;
}

.about-img h1{
    margin: 0 0 0 3px;
    color: #3d51d0f2;
    opacity: 9;
}

.about-img h3 {
    color: #3d51d0f2;
    opacity: 6;
    font-style: italic;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.rows{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25px;
    padding: 10px;
}

.colums{
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23rem;
}

#values-img {
    width: 16rem;
    height: 14rem;
}

.card-img{
    width: 16rem;
    height: 12rem;
    margin-bottom: 1.5rem;
}

.card-body{
    margin: auto 6rem;
    width: 24rem;
    text-align: justify;
}

.card-title{
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 5px;
}

.card-text ul {
    margin-left: 7rem;
    list-style: none;
}

@media screen and (max-width: 420px) {
    #company {
        width: 60vw;
        height: 33vh;
    }

    .about-img h1 {
        font-size: 1rem;
    }

    .about-img h3 {
        font-size: .5rem;
        margin-bottom: 1rem;
    }

    .rows {
        flex-direction: column;
        align-items: center;
    }

    #values-img{
        width: 13rem;
        height: 12rem;
    }

    .card-img {
        width: 12rem;
        height: 10rem;
    }
    .card-body {
        width: 18rem;
    }

    .card-text {
        font-size: 12px;
    }

    .card-text ul {
        margin-left: 4.5rem;
    }
}

@media (min-width: 768px) {
    #company {
        width: 60vw;
        height: 52vh;
    }

    .about-img h1 {
        margin: 0 0 0 6px;
        font-size: 2rem;
    }

    .about-img h3 {
        font-size: 1rem;
    }
    .rows {
        margin-left: 3rem;
        margin-right: 4rem;
    }
    #values-img {
        width: 9rem;
        height: 11rem;
    }

    .card-img {
        width: 10rem;
        height: 9rem;
    }

    .card {
        width: 16rem;
    }
    .card-body {
        width: 12rem;
    }

    .card-text {
        font-size: 12px;
    }

    .card-text ul {
        margin-left: 1.5rem;
    }
}

@media (min-width: 912px) {
    .rows {
        margin-left: 0;
        margin-right: 0;
    }

    #values-img{
        width: 12rem;
        height: 14rem;
    }

    .card-img {
        width: 12rem;
        height: 12rem;
    }
    .card {
        width: 18px;
    }
}

@media screen and (min-width: 1280px) {
    #company {
        width: 30vw;
        height: 50vh;
    }

    .about-img h1 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .about-img h3 {
        font-size: 1rem;
    }

    #values-img {
        width: 16rem;
        height: 16rem;
    }

    .card-img {
        width: 14rem;
        height: 14rem;
    }

    .card-body {
        width: 16rem;
    }

    .card-text {
        font-size: 14px;
    }

    .card-text ul {
        margin-left: 3.5rem;
    }
}