#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-container {
    position: relative;
    top: -300px;
    color: orange;
    font-size: 26px;
    text-transform: uppercase;
    height: 37px;
    -webkit-animation-name: up;
    animation-name: up;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@keyframes up {
    from {
        transform: translateY(150px);
        color: transparent;
    }
}

.mainRow {
    display: inherit;
    margin-top: 2rem;
    width: 100vw;
    -webkit-animation-name: rotate;
    animation-name: rotate;
    -webkit-animation-duration: 9s;
    animation-duration: 9s;
}

@keyframes rotate {
    from {
        transform: rotateX(90deg);
    }
}

#header {
    -webkit-animation-name: appear;
    animation-name: appear;
    -webkit-animation-duration: 7s;
    animation-duration: 7s;
}

@keyframes appear {
    from {
        transform: translateY(100px);
        color: #f8f9fa;
    }
    to {
        color: rgba(0, 0, 0, 0.464);
    }
}
.main-columns {
    display: inline-block;
    width: 28rem;
    padding: 2rem;
    text-align: center;
}

.card-body {
    padding-top: 2rem;
}

.card-text {
    text-align: justify;
}

#dev-img {
    height: 10rem;
}

.card-img {
    height: 10rem;
    filter: invert(.03);
}

#info {
    text-decoration: none;
    color: orangered;
    font-weight: 480;
    font-size: 18px;
}

#info:hover {
    font-size:x-large
}


@media screen and (max-width: 420px) {
    #header {
        font-size: 1.5rem;
    }

    .message-container {
        font-size: 8px;
        top: -145px;
        text-align: center;
        font-weight: bolder;
    }

    .mainRow {
        flex-direction: column;
        align-items: center;
    }

    .main-columns {
        width: 18rem;
        padding: .5rem;
    }

    .card-text {
        font-size: 12px;
    }

    #dev-img {
        height: 7rem;
    }

    .card-img {
        height: 8rem;
    }
}

@media only screen and (max-width: 300px) and (min-width: 280px) {
    #header {
        font-size: 1.2rem;
    }

    .main-columns {
        width: 10rem;
    }

    .card-title {
        font-size: 16px;
    }
}

@media (min-width: 540px) {
    #header {
        font-size: 2rem;
    }

    .message-container {
        font-size: 14px;
        top: -190px;
        text-align: center;
        font-weight: bolder;
    }

    .mainRow {
        flex-direction: column;
        align-items: center;
    }

    .main-columns {
        width: 23rem;
    }

    .card-title {
        font-size: 18px;
    }
}

 @media (min-width: 768px) {
    .message-container {
        font-size: 20px;
        top: -272px;
    }
    .mainRow {
        flex-direction: column;
        align-items: center;
    }

    .main-columns {
        width: 34rem;
    }

    .card-title {
        font-size: 20px;
    }

    .card-text {
        font-size: 18px;
    }
}


@media screen and (min-width: 1024px) {
    .mainRow {
        flex-direction: row;
    }

    .main-columns {
        padding: 4rem;
        width: 21rem;
    }

    .card-text {
        font-size: 12px;
    }

    #dev-img, 
    .card-img {
        height: 8rem;
    }
}

@media screen and (min-width: 1280px) {
    .main-row {
        flex-direction: row;
        justify-content: space-evenly;
        width: 100vw;
    }

    #header {
        font-size: 2rem;
    }

    .card-title {
        font-size: 1.2rem;
    }
    .main-columns {
        width: 24rem;
    }

    .card-text {
        font-size: 15px;
    }

    #info {
        font-size: 18px;
    }

    #dev-img, 
    .card-img {
        height: 10rem;
    }
}