.container-fluid{
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
}

.about-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4rem;
    width: 100%;
    background-color: #1f1e1e;
}

#contact {
    border: 1px solid black;
    height: 20rem;
    width: 22rem;
    border-radius: 66px;
}
.row{
    width: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    -webkit-animation-name: rotate;
    animation-name: rotate;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
}

@keyframes rotate {
    from {
        transform: rotateX(90deg);
        color: transparent;
    }
}

.card-title {
    margin: 4rem;
}

.contact-icon {
    width: 4rem;
}

#phone {
    filter: invert(.04);
}

.card-text span {
    margin-left: 2rem;
    font-weight: 700;
}

.contact-card {
    display: flex;
    flex-direction: column;
}

.contact-card form {
    display: flex;
    flex-direction: column;
    width: 24rem;
}

.contact-card input {
    border: 1px solid #8080804f;
    border-radius: 6px;
    padding: 0.5rem;
}

.contact-card textarea {
    border-radius: 12px;
    border: 1px solid #8080804f;
    padding: .5rem;
}

.contact-card label {
    font-weight: 700;
    font-style: italic;
    margin-top: 0.5rem;
}
#message {
    margin-bottom: 1rem;
}

#submit {
    border-radius: 12px;
    text-transform: uppercase;
    font-weight: 5200;
    background-color: rgba(255, 98, 0, 0.842);
    color: white;
    border: 1px solid #dc39358f;
    padding: 0.5rem;
    font-size: 16px;
    width: 10rem;
    display: block;
    margin: auto;
    cursor: pointer;
}

#submit:hover {
    background-color: purple;
    color: white;
    font-size: larger;
}

@media screen and (max-width: 540px) {
    .row {
        flex-direction: column;
        width: 100vw;
    }

    .about-img {
        padding: 2rem 0;
    }

    #contact {
        height: 15rem;
         width: 13rem;
    }
    
    .contact-card {
        margin: auto;
        width: 20rem;
        font-size: 11px;
    }

    .card-title {
        font-size: .9rem;
        margin: 1rem;
    }

    .card-text {
        margin-left: 1.1rem;
    }

    .card-text span {
        margin-left: 1rem;
        font-size: 8px;
    }

    .contact-icon {
        width: 1rem;
    }

    .contact-card form {
        width: 18rem;
        margin-left: .9rem;
    }

    #submit {
        padding: 0;
        font-size: 14px;
    }
}

@media only screen and (max-width: 300px) and (min-width: 280px) {
    #contact {
        height: 13rem;
        width: 12rem;
    }

    .row {
        width: 100vw;
        margin: auto;
    }

    .contact-card {
        text-align: justify;
        width: 13rem;
    }

    .card-title {
        font-size: .7rem;
    }

    .contact-card form {
        width: 13rem;
    }
}

@media (min-width: 768px) {
    .row {
        width: 45rem;
        margin-bottom: 2rem;
    }

    .about-img {
        padding: 4rem 0 4rem 0.5rem;;
    }

    .card-text {
        margin-left: 3rem;
    }

    .card-text span {
        font-size: 12px;
    }

    .contact-icon {
        width: 2rem;
    }

    .contact-card form {
        width: 20rem;
    }
}

@media (min-width: 912px) {
    .row {
        width: 54rem;
    }

    .contact-card form {
        width: 25rem;
    }

}

@media screen and (min-width: 1024px) {
    .row {
        width: 100vw;
    }
    .contact-card {
        width: 50vw;
        margin-left: 3rem;
    }

    .card-title {
        font-size: 20px;
    }

    .card-text {
        font-size: 24px;
    }

    .card-text span {
        font-size: 16px;
    }
}

@media screen and (min-width: 1280px) {
    .container-fluid {
        /* flex-direction: column; */
        align-items: center;
    }

    #contact {
        width: 400px;
    }

    .row {
        flex-direction: row;
    }


    .contact-card {
        /* width: 100%; */
        margin-left: 0;
    }

    .card-title {
        margin-left: 6rem;
        font-size: 26px;
    }

    .card-text {
        margin-left: 6rem;
    }

    .contact-card form {
        width: 37rem;
        /* margin-left: 6rem; */
    }
}



