.navbar {
    height: 10rem;
    background-color: #ff820aa6;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: -1px 6px 5px 0px rgba(148,143,148,1);
}

.logo {
    height: 9rem;
}

.navbar-nav {
    display: none;
}

.navbar-nav.active{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 78px;
    top: 38px;
}

.nav-link{
    font-size: 1.4rem;
    color: #000000a8;
}

@media screen and (min-width: 992px){
    .logo {
        height: 11rem;
    }
}

@media screen and (max-width: 420px) {
    .logo {
        height: 7rem;
    }

    .navbar-nav.active {
        top: 20px
    }

    .nav-link {
        font-size: 16px;
    }
}

@media screen and (min-width: 768px) {
    .burger-container{
        display: none;
    }

    .navbar-nav{
        display: flex;
        flex-direction: row;
        position: absolute;
        right: 100px;
        top: 72px;
    }
}

@media screen and (min-width: 1280px) {
    .navbar-nav {
        display: flex;
        flex-direction: row;
    }
    .logo {
        height: 9rem;
    }
}