.navbar {
    background-image: url('assets/img/background2.jpg');
    opacity: 86%;
    -webkit-box-shadow: -1px 6px 5px 0px rgba(148,143,148,1);
    -moz-box-shadow: -1px 6px 5px 0px rgba(148,143,148,1);
    box-shadow: -1px 6px 5px 0px rgba(18 17 18);
    margin-bottom: 7px;
    height: 7rem !important;
}

.logo {
    height: 5rem;
    margin-left: 2rem;
}

.navbar-nav {
    display: none;
    top: 32px !important;
}

.navbar-nav.active{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 78px;
    top: 38px;
}


.nav-link{
    color: #ffffffde !important;
    font-weight: bold;
    opacity: .9;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.nav-link:hover {
    color: #dc3935d1 !important;
    font-size:larger;
}


@media screen and (max-width: 540px) {
    .navbar {
        height: 6rem;
    }
    
    .logo {
        height: 5rem;
    }

    .navbar-nav {
        position: absolute;
        right: 71px;
        margin: 0;
    }
    
    .navbar-nav.active {
        top: -11px;
        list-style: none;
    }
    
    .nav-item {
        position: relative;
        top: -18px;
    }

    .nav-link {
        font-size: 10px;
        text-decoration: none;
    }
}


@media (min-width: 768px) {
    .navbar {
        height: 72px;
    }
    
    .logo {
        height: 7rem;
        width: 11rem;
    }

    .navbar-nav {
        flex-direction: row;
        right: 74px;
    }
    
    .burger-container{
        display: none;
    }
    
    .navbar-nav{
        display: flex;
        flex-direction: row;
        position: absolute;
        right: 100px;
        top: 9px;
        list-style: none;
    }
    
    .nav-item {
        margin-right: 2rem;
    }
    
    .nav-link {
        text-decoration: none;
        font-size: 20px;
    }
}

@media screen and (min-width: 992px){
    .logo {
        height: 7rem;
        width: 11rem;
    }

    .nav-link {
        font-size: 20px;
    }
}

@media screen and (min-width: 1280px) {
    .navbar {
        /* height: 88px; */
        padding-bottom: 2rem;
    }

    .logo {
        height: 8.6rem;
        width: 13rem;
    }
    .navbar-nav {
        display: flex;
        flex-direction: row;
        top: 15px;
        margin-top: 2rem;
    }
    .logo {
        height: 7.5rem;
        margin-left: 4rem;
    }

    .nav-link {
        font-size: 22px;
    }
}