.navbar {
    /* height: 90px; */
    /* background-color: #ff820aa6; */
    background-image: url('assets/img/background2.jpg');
    opacity: 86%;
    /* -webkit-box-shadow: -1px 6px 5px 0px rgba(148,143,148,1);
    -moz-box-shadow: -1px 6px 5px 0px rgba(148,143,148,1);
    box-shadow: -1px 6px 5px 0px rgba(18 17 18); */
    -webkit-box-shadow: -1px 6px 5px 0px rgba(148,143,148,1);
    -moz-box-shadow: -1px 6px 5px 0px rgba(148,143,148,1);
    box-shadow: -1px 6px 5px 0px rgba(18 17 18);
    margin-bottom: 7px;
    height: 7rem !important;
}

.logo {
    height: 5rem;
    margin-left: 2rem;
    /* width: 54%; */
}

.navbar-nav {
    display: none;
    top: 32px !important;
}

.navbar-nav.active{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 78px;
    top: 38px;
}

.nav-link{

    color: #ffffffde !important;
    font-weight: bold;
    opacity: .9;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.nav-link:hover {
    color: #dc3935d1 !important;
    font-size:larger;
}



@media screen and (min-width: 992px){
    .logo {
        height: 11rem;
    }
}

@media screen and (max-width: 420px) {
    .navbar {
        height: 70px;
    }

    .logo {
        height: 3rem;
    }

    .navbar-nav.active {
        top: -11px;
        list-style: none;
    }

    .nav-link {
        font-size: 10px;
        text-decoration: none;
    }
}

@media screen and (min-width: 768px) {
    .navbar {
        height: 72px;
    }

    .logo {
        height: 4rem;
    }

    .burger-container{
        display: none;
    }

    .navbar-nav{
        display: flex;
        flex-direction: row;
        position: absolute;
        right: 100px;
        top: 9px;
        list-style: none;
    }

    .nav-item {
        margin-right: 2rem;
    }

    .nav-link {
        text-decoration: none;
        font-size: 16px;
    }
}

@media screen and (min-width: 1280px) {
    .navbar {
        height: 88px;
    }
    .navbar-nav {
        display: flex;
        flex-direction: row;
        top: 15px;
    }
    .logo {
        height: 7.5rem;
        margin-left: 4rem;
    }

    .nav-link {
        font-size: 18px;
    }
}