.container {
    background-color: #343a40;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.slides {
    height: 22rem;
    width: 24rem;
    margin: 1rem;
    border-radius: 50px;
    object-fit: fill;
}

#left-btn, #right-btn {
    border: none;
    color: #d1c4c4;
    position: relative;
    background: transparent;
}

#left-btn {
    left: 2rem;
}

#right-btn {
    right: 2rem;
}

@media only screen and (max-width: 300px) and (min-width: 280px) {
    .container {
        height: 12rem;
    }

    .container .slides {
        margin: 0;
        width: 12rem;
        object-fit: fill;
        opacity: .4;
    }
}
@media screen and (max-width: 420px) {
    .slides {
        height: 9rem;
        width: 17rem;
        object-fit: fill;
        border-radius: 12px;
        opacity: .4;
    }
}

@media (min-width: 540px) {
    .slides {
        height: 12rem;
        width: 22rem;
        border-radius: 12px;
        object-fit: fill;
        opacity: .4;
        }
}

@media (min-width: 768px) {
    .slides {
        height: 20rem;
        width: 32rem;
        object-fit: fill;
    }
}

@media (min-width: 1024px) {
    .container {
        height: 26rem;
    }

    .slides {
        object-fit: fill;
        width: 65vw;
        margin: 0;
        border-radius: 12px;
        opacity: .4;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        height: 31rem;
    }

    .slides {
        width: 56rem;
        height: 47vh;
        object-fit: fill;
    }
}

@media screen and (min-width: 1920px) {
    .container {
        align-items: center;
        justify-content: center;
    }

    .slides {
        object-fit: cover;
        height: 38rem;
        width: 73rem;
        object-fit: fill;
        margin: 1rem;
        border-radius: 12px;
        opacity: .4;
    }
}

@media screen and (min-width: 1920px) {
    .container {
        height: 46rem;
    }

    .slides {
        height: 38rem;
        width: 63vw;
        object-fit: fill;
    }
}