.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.slides {
    /* height: 20rem;
    width: 30rem; */
    height: 30rem;
    width: 40rem;
    border-radius: 38px;
}

#left-btn, #right-btn {
    border: none;
    color: #d1c4c4;
    position: relative;
    background: transparent;
}

#left-btn {
    left: 2rem;
}

#right-btn {
    right: 2rem;
}

@media screen and (max-width: 420px) {
    .slides {
        height: 14rem;
        width: 14rem;
    }
}

@media (min-width: 768px) {
    .slides {
        height: 22rem;
        width: 24rem;
    }
}

@media (min-width: 1024px) {
    .slides {
        height: 30rem;
        width: 30rem;
    }
}

@media screen and (min-width: 1280px) {
    .slides {
        height: 30rem;
        width: 40rem;
    }
}