footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer {
    display: inherit;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    margin-top: 4rem;
    padding: .5rem;
    background-color: #ff820aa6;
    opacity: .9;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20vw;
}

.logo {
    width: 6rem;
    height: 5rem;
    margin-left: 1.5rem;
}

#btn {
    height: 1.5rem;
    border-radius: 14px;
    background-color: #dc3935d1;
    border: none;
    width: 4rem;
}

#btn a{
    color: #000486;
    font-size: 8px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}

.card-rows {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 72vw;
}

.card-col {
    color: #002bffd9;
}

.paragraph {
    font-style: italic;
    font-weight: 600;
    font-size: 12px;
    color: #000000eb;
}

.contact-info {
    font-weight: 500;
    font-size: 12px;
    color: #000000eb;
}
.card-col span {
    display: block;
    font-size: 12px;
    color: #000000eb;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 18vw;
}

#face{
    height: 4rem;
}

.redes {
    height: 2rem;
}

@media screen and (max-width: 420px) {
    .footer {
        padding: 0;
    }

    .logo-container {
        width: 0;
        margin-left: 0;
    }

    .logo {
        width: 3rem;
        height: 2rem;
    }

    #btn {
        width: 42px;
        height: 1rem;
    }

    #btn  a {
        font-size: 4px;
        position: relative;
        top: -3px;
    }

    .card-rows {
        width: 87vw;
        justify-content: flex-end;

    }

    .paragraph,
    .contact-info {
        font-size: 7px;
    }

    .card-col {
        margin-right: 2rem;
    }

    .card-col span {
        font-size: 6px;
    }

    .social-media {
        width: 11vw;
    }

    #face {
        height: 1rem;
    }

    .redes {
        height: .5rem;
    }

}

@media (min-width: 768px) {
    .footer {
        padding: 0;
        width: 100vw;
    }

    .logo {
        width: 4rem;
        height: 3rem;
    }

    .btn {
        height: 1rem;
        width: 3rem;
    }

    .btn a {
        font-size: 6px;
    }

    .paragraph,
    .contact-info {
        font-size: 10px;
    }

    .card-col span {
        font-size: 9px;
    }

    .social-media {
        width: 10vw;
    }

    #face {
        height: 2rem;
    }

    .redes {
        height: 1rem;
    }
}

@media only screen and (min-width: 820px) and (max-width: 912px) {
    footer {
        position: fixed;
        bottom: 0;
    }
}

@media screen and (min-width: 1280px) {
    .logo {
        width: 6rem;
        height: 5rem;
    }

    .card-col {
        margin-left: 6rem;
    }

    .social-media {
        width: 14vw;
    }

    #face {
        height: 3rem;
    }

    .redes {
        height: 2rem;
    }
}