.container-fluid {
    display: flex;
    flex-direction: column;
}

.about {
    display: inherit;
    flex-direction: column;
    align-items: center;
    /* margin: 2rem 0 3rem 0; */
    background-color: #1f1e1e;
}

.about h1 {
    margin-top: 2rem;
}

#dise単o {
    /* height: 22rem; */
    width: 22rem;
    height: 20rem;
    padding: 4rem;
    border-radius: 100px;
}

h1 {
    margin: 2rem auto;
}

blockquote {
    margin: auto;
    font-style: italic;
    color: black;
    opacity: .8;
    font-size: 22px;
    font-weight: 700;
}

.additional-rows {
    display: inherit;
    flex-direction: row;
    padding: 4rem;
    -webkit-animation-name: move;
    animation-name: move;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
}

@keyframes move {
    from {
        transform: rotateX(90deg);
        color: transparent;
    }
}
#title, #subtitle {
    -webkit-animation-name: appear;
    animation-name: appear;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
}

@keyframes appear {
    from {
        color: transparent;
    }
}


.additional-columns {
    margin: auto;
    padding: 4rem;
    border: 1px solid #070ca0ad;
    border-radius: 12px;
    box-shadow: 5px 5px 5px 0px rgba(0,4,134,0.21);
    background-color: white;
}

#dev-column {
    padding: 3rem 4rem 2rem 4rem;
}

.card-title {
    margin: 2rem 16rem;
}

.card-text {
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 400;
}

.card-add li {
    list-style: none;
}

@media screen and (max-width: 420px) {
    .about {
        margin: 2rem 0 1rem 0;
    }
    .about h1 {
        font-size: 1rem;
    }

    #dise単o {
        height: 8rem;
    }

    blockquote {
        font-size: 8px;
        text-align: center;
    }

    .additional-rows {
        flex-direction: column;
        padding: 2rem 1rem;
    }

    .additional-columns {
        width: 16rem;
        padding: 0;
    }

    #dev-column {
        padding: 0;
    }

    .card-add {
        padding: 2rem;
    }

    #marketing-card {
        margin-top: 2rem;
    }

    #marketing {
        padding: 0rem 2rem;
    }

    
    .card-title {
        margin: 2rem 0 0 4rem;
        font-size: 1rem;
    }
    
    #marketing-title {
        margin: 2rem 3rem 0;
    }

    .card-text {
        line-height: 2.5rem;
        font-size: 14px;
        margin: 0;
    }

}

@media (min-width: 768px) {
    .about h1 {
        font-size: 18px;
    }

    #dise単o {
        height: 12rem;
    }

    blockquote {
        font-size: 12px;
        text-align: center;
    }

    .additional-rows {
        flex-direction: column;
    }

    .additional-columns {
        width: 24rem;
    }

    #marketing-card {
        margin-top: 2rem;
    }

    .card-title {
        margin: 2rem 10rem;
    }

    #marketing-title {
        margin: 2rem 8rem 1rem;
    }
}

@media screen and (min-width: 1280px) {
    #dise単o {
        /* height: 14rem; */
        width: 22rem;
        height: 19rem;
        padding: 4rem;
        border-radius: 100px;
    }

    blockquote {
        font-size: 18px;
    }
    
    .additional-columns {
        width: 30rem;
    }
}